
$color-primary-main: #100028
$color-primary-light: #1a083d
$color-primary-border: #00bfe7

$color-grey-light-1: #e9ecef
$color-grey-light-2: #ced4da
$color-grey-light-3: #adb5bd

$color-grey-dark-1: #212529
$color-grey-dark-2: #343a40

$color-btn-1: #766dff
$color-btn-2: #88f3ff 

$font-primary: 'IBM Plex Sans', sans-serif
$font-secondary: 'Noto Rashi Hebrew', serif