.contact
  width: 100vw
  display: flex
  justify-content: space-between
  position: fixed
  bottom: 20%

  // LEft side
  &__left
    width: 50%
    margin-left: 7rem

  &__style
    list-style: none
    display: flex
    flex-direction: column
    gap: 2rem

  &__list

  &__link

  &__icon
    height: 3rem
    width: 3rem
    fill: $color-grey-light-1

  // Right Side
  &__right    

  &__gmail
    &:link,
    &:visited

      line-height: 1
      text-decoration: none
      color: inherit
      transform: rotate(270deg)
      display: inline-block