.header
  width: 100vw
  height: 100vh

  background-blend-mode: color
  background-image: linear-gradient(to left top,$color-primary-light, $color-primary-main), url("../img/my_img2.jpg")
  background-size: cover
  background-position: right
  
  h1:first-child 
    font-family: $font-secondary